{% extends "base.html" %}
{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="mb-4">Contact Us</h2>

    <p>If you have any questions about orders, payments, or products, please contact us using the details below.</p>

    <hr>

    <h5>Business Name:</h5>
    <p>Gemswear Clothing Store</p>

    <h5>Email:</h5>
    <p>gmenswear@gmail.com</p>

    <h5>Phone:</h5>
    <p>+91-9677883620</p>

    <h5>Business Address:</h5>
    <p>
        Pattiveeranpatti,<br>
        Dindigul,<br>
        Tamil Nadu,<br>
        India
    </p>

    <hr>

    <p>We usually respond within 24-48 business hours.</p>
</div>

{% endblock %}