{% extends 'base.html' %}

{% load static %}

{% block title %}
 G Menswear | Home
{% endblock title %}

{% block content %} 

{% include 'includes/slider.html' %}

<section class="home-section bg-light py-4 my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4
          class="mb-3 text-center home-title"
          style="font-family: &quot;Playfair&quot;;font-weight: 600; font-size: 35px;">Home
        </h4>
      </div>

      {% for item in category %}
      <div class="col-12 col-md-4 mb-4">
        <a
          href="{% url 'category_products' item.slug %}"
          class="text-decoration-none">
          <div class="modern-card">
            <div class="modern-img">
              <img src="{{ item.image.url }}" alt="{{ item.category_name }}" />
            </div>
            <div class="modern-content">
              <h5>{{ item.category_name }}</h5>
              <p>{{ item.description|truncatechars:60 }}</p>
              <span class="view-link">View Collection →</span>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
<!-- PRODUCTS BELOW CATEGORY -->
<section class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold">Latest Products</h4>
  </div>

  <div class="row g-4">
    {% for product in home_products %}
    <div class="col-6 col-md-4 col-lg-3">
      <div class="card product-card h-100">

        <a href="{{ product.get_url }}">
          <img src="{{ product.main_image.url }}" class="card-img-top">
        </a>

        <div class="card-body text-center">
          <h6 class="text-truncate">{{ product.product_name }}</h6>

          <p class="fw-bold mb-1">₹{{ product.offer_price }}</p>

          <a href="{{ product.get_url }}" class="btn btn-dark btn-sm w-100">
            View Product
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock content %}
